In [2]:
import pandas as pd
import facebook

params = dict()
params['page_token'] = 'EAAUTdastuisBAIMLdF7hBSIGnxQfmp4JJZBUCem2xZBGwjmOOenZA7r9B3dqsoPNG3oOQgS6WCsfFPprPrTU1zxJZBNac2Aes8iczEN2oAZAjPeqDPgcZBRezHOHoy5qr67A5sjDNCZAZANfdD2Tmt9MZAWRP3lVkh36aDKwZC85RA0lJ4zDP2jcHOSwK5Jg8yaF8XLfHQ3cjDbI7NXk0uXIIm'        # not an actual access token
params['page_id'] = '623594861616145' 
graph = facebook.GraphAPI(access_token=params['page_token'], version="3.1")

CTA ANALISE

In [12]:
page_total_actions = graph.get_connections(id=params['page_id'], 
                                connection_name='insights', 
                                metric='page_total_actions',
                                date_preset='last_28d',)

page_total_actions = page_total_actions['data'][0]['values']
df_clicks = pd.DataFrame(page_total_actions, columns=['value', 'end_time'])
del df_clicks['end_time']
dados_finais = sum(df_clicks['value'])
display(dados_finais)

0

BTN CHAMADA PARA AÇÃO

In [20]:
btn_action = graph.get_connections(id=params['page_id'], 
                                connection_name='insights', 
                                metric='page_cta_clicks_logged_in_unique',
                                date_preset='last_28d',)

btn_action = btn_action['data'][0]['values']
df_btn_action = pd.DataFrame(btn_action, columns=['value', 'end_time'])
del df_btn_action['end_time']

# dados_finais = sum(df_btn_action['value'])
display(df_btn_action)

                     value
0   {'623625278279770': 0}
1   {'623625278279770': 0}
2   {'623625278279770': 0}
3   {'623625278279770': 0}
4   {'623625278279770': 0}
5   {'623625278279770': 0}
6   {'623625278279770': 0}
7   {'623625278279770': 0}
8   {'623625278279770': 0}
9   {'623625278279770': 0}
10  {'623625278279770': 0}
11  {'623625278279770': 0}
12  {'623625278279770': 0}
13  {'623625278279770': 0}
14  {'623625278279770': 0}
15  {'623625278279770': 0}
16  {'623625278279770': 0}
17  {'623625278279770': 0}
18  {'623625278279770': 0}
19  {'623625278279770': 0}
20  {'623625278279770': 0}
21  {'623625278279770': 0}
22  {'623625278279770': 0}
23  {'623625278279770': 0}
24  {'623625278279770': 0}
25  {'623625278279770': 0}
26  {'623625278279770': 0}
27  {'623625278279770': 0}

BTN LIGAR

In [ ]:
page_total_actions = graph.get_connections(id=params['page_id'], 
                                connection_name='insights', 
                                metric='page_total_actions',
                                date_preset='last_28d',)

page_total_actions = page_total_actions['data'][0]['values']
df_clicks = pd.DataFrame(page_total_actions, columns=['value', 'end_time'])
del df_clicks['end_time']
dados_finais = sum(df_clicks['value'])
display(dados_finais)

BTN COMO CHEGAR

In [ ]:
page_total_actions = graph.get_connections(id=params['page_id'], 
                                connection_name='insights', 
                                metric='page_total_actions',
                                date_preset='last_28d',)

page_total_actions = page_total_actions['data'][0]['values']
df_clicks = pd.DataFrame(page_total_actions, columns=['value', 'end_time'])
del df_clicks['end_time']
dados_finais = sum(df_clicks['value'])
display(dados_finais)

BTN IR PARA O SITE

In [ ]:
page_total_actions = graph.get_connections(id=params['page_id'], 
                                connection_name='insights', 
                                metric='page_total_actions',
                                date_preset='last_28d',)

page_total_actions = page_total_actions['data'][0]['values']
df_clicks = pd.DataFrame(page_total_actions, columns=['value', 'end_time'])
del df_clicks['end_time']
dados_finais = sum(df_clicks['value'])
display(dados_finais)